/* Reset CSS rule to remove default margins and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --primary-color: #e0e0e9;
    --secondary-color: #fff;
    --snake-color: #07ff0f;
    --game-over-color: red;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
}

header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(220, 250, 240, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--box-shadow-color);
}

#snake-color {
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#gameCanvas {
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px var(--box-shadow-color);
}

#playButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--snake-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--box-shadow-color);
    transition: background-color 0.2s ease-in-out;
}

#playButton:hover {
    background-color: #45a049;
}

#game-over-message {
    display: none;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--game-over-color);
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 6px var(--box-shadow-color);
    max-width: 80%;
    margin: 20px auto;
}

#game-over-message.show {
    display: block;
}
